/* 
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
} */

/* linear-gradient(to top,
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), */

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}
/* banner section start */
header {
  padding-top: 50px;
}
.banner {
  position: relative;
  background-image: url(/images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.banner::before {
  position: absolute;
  content: "";
  /* top: 0;
  left: 0; */
  width: 1320px;
  height: 600px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
}
.new-year {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-top: 180px;
}
.par-cele {
  width: 632px;
  height: 190px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}
/* discount section start */
.our-holiday {
  width: 802px;
  height: 806px;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}

.sec-off {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 48px;
}
.sec-holi {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.sec-cet {
  color: rgb(7, 2, 17);
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 48px;
}
/* happy new year banner section */
.happy-new {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background-image: url(/images/Vectorrr.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 80px;
}
.happy-new::before {
  content: "";
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  position: absolute;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
}
.happy-year {
  padding-left: 126px;
}
.happy-title {
  width: 542px;
  height: 176px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 24px;
}
.happy-des {
  width: 697px;
  height: 60px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
  padding-bottom: 48px;
}
.happy-join {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 32px;
}
.group-image img {
  padding-left: 60px;
}
/* section two start */
.pla-da-ti {
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  margin: 0 auto;
  margin-top: 100px;
}
.park-hotel {
  width: 549px;
  height: 168px;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
.hotel-new {
  padding-top: 130px;
}
.hight-date {
  padding-top: 20px;
}
.time-even {
  padding-top: 20px;
  padding-bottom: 48px;
}
.co-red {
  color: rgb(255, 0, 0);
}
.join-now {
  width: 150px;
  height: 50px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 8px;
  background: rgb(255, 0, 0);
}
/*section three start  */
.banner-two {
  width: 1320px;
  height: 463px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.best-offer {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 104px;
}
.soon-come {
  color: rgb(7, 2, 17);
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 12px;
  padding-bottom: 20px;
}
.amet-con {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  width: 393px;
  height: 128px;
}
.year-four {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 112px;
}
.consectetur {
  width: 276px;
  height: 96px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
.circle {
  width: 463px;
  height: 463px;
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
}
.Ellipse {
  padding-top: 35px;
  padding-left: 35px;
}
/*section four start  */
.functional {
  width: 1068px;
  height: 260px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.what-is {
  color: rgb(7, 2, 17);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}
.holy-sale {
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  color: rgb(7, 2, 17);
}
.holidays {
  color: rgb(255, 0, 0);
}
.ipsum-sed {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}
/*section five start  */

.gifts {
  width: 1320px;
  height: 662px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 400px;
}
.gift-one {
  position: relative;
  top: 240px;
  z-index: 1;
}
.gift-two {
  position: absolute;
}
.gift-three {
  padding-left: 178px;
  padding-bottom: 50px;
}
/* section six start */
.items {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
}
.the-gift {
  color: rgb(255, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.our-protfolio {
  color: rgb(7, 2, 17);
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 22px;
}
.awesome {
  width: 896px;
  height: 64px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}
/*section seven start  */
.sec-mail {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.group-six {
  padding-top: 80px;
}
.mail-title {
  color: rgb(7, 2, 17);
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 45px;
}
.mail-dis {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 48px;
  /* width: 896px;
  height: 64px; */
}
input {
  width: 600px;
  height: 50px;
  border: none;
  color: rgba(7, 2, 17, 0.3);
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
}
.user-email {
  padding: 0px 0px 0px 30px;
}
.btn-subscribe {
  border: none;
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
}
/* footer section start */
.foo-ter {
  width: 1400px;
  height: 600px;
  background: rgb(7, 2, 17);
  margin: 0 auto;
}
.footer-boxs {
  display: flex;
  justify-content: space-around;
}
.footer-one {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.all-rights {
  padding-left: 120px;
  padding-top: 120px;
}
.reserved {
  padding-left: 120px;
  padding-top: 300px;
}
.footer-two {
  padding-top: 300px;
}
.num-ber {
  padding-left: 100px;
  padding-top: 300px;
}
.footer-three {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 120px;
  padding-right: 120px;
}
