/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
// <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name

.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* linear-gradient(to top,
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)), */

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}
header {
  padding-top: 50px;
}
.banner {
  position: relative;
  background-image: url(/images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.banner::before {
  position: absolute;
  content: "";
  /* top: 0;
  left: 0; */
  width: 1320px;
  height: 600px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
}
.new-year {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-top: 180px;
}
.par-cele {
  width: 632px;
  height: 190px;
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Merriweather", serif;
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}
